<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mindem</title>
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../libraries/fontawesome.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Press+Start+2P&family=Readex+Pro:wght@200;300;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script defer src="../libraries/chart.umd.js"></script>

<script defer src="../js/side-scripts/AppColor.js"></script>
<script defer src="../js/script.js"></script>
<script defer src="../js/Game.js"></script>
<script defer src="../js/side-scripts/mds.js"></script>
<script defer src="../js/DomEvents.js"></script>
<script defer src="../js/timer.js"></script>
<script type="module" defer src="../js/side-scripts/MaxTextLength.js"></script>
<script type="module" defer src="../js/side-scripts/ShortCuts.js"></script>
<script defer src="../js/Chart.js"></script>
<script defer src="../js/side-scripts/cssModi.js"></script>
<script defer src="../js/playground_modes/ConnectMode.js"></script>
<script defer src="../js/playground_modes/MultipleChoiceMode.js"></script>
<script defer src="../js/playground_modes/WriteMode.js"></script>

<script src="../libraries/smtp.js"></script>

<body>
    <div id="start-screen">
        <div id="startscreen-title-wrapper">
            <div id="title-scene">
                <h1 id="startscreen-title">Mind-em</h1>
                <hr id="startscreen-title-seperator">
                <h3 id="startscreen-sub-title">embrace Power</h3>
            </div>
        </div>
    </div>

    <header class="app-header">
        <a title="index card menu" id="sdm-open-button" href="#" class="fa-solid fa-bars fa-2x"></a>

        <div id="header-middle-div">
            <h1 id="StackNameTitle">Your stack name</h1>
            <i id="header_StackDropDownMenu-btn" class="fa-solid fa-caret-right"></i>
            <div id="header-dropdown-con">

            </div>
        </div>

        <nav>
            <ul id="nav_links">
                <li>
                    <a title="switch color theme" href="#" class="fa-solid fa-moon fa-2x" id="colorSwitcher"></a>
                </li>
                <li>
                    <a title="Settings" href="#" id="OpenSettWindow" class="fa-solid fa-gear fa-2x"></a>
                </li>
                <li>
                    <a title="log in" href="#" class="fa-regular fa-circle-user fa-2x" id="logIn-btn"></a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="side-menu">

        <div id="sdm-content">
            <h2>Stack collection</h2>

            <div id="sdm-icons">
                <i title="add a new topic" id="sdm-plus-topic-item" class="fa-solid fa-pen-to-square"></i>
                <i title="add a new stack" id="sdm-plus-item" class="fa-solid fa-plus"></i>
                <i title="delete all stacks" id="sdm-trash-item" class="fa-solid fa-trash-can"></i>
            </div>

        </div>
        <div class="table-wrapper">
            <!-- <div table-sub-topic-index="1" class="table-sub-topic">
                <i tablesubtopic-caret-btn-is-clicked="false" class="fa-solid fa-caret-right"></i>
                <p class="sub-topic-text">Französisch</p>
            </div> -->

            <table class="sdm-table-layout" id="sdm-table">
            </table>

            <!-- <div table-sub-topic-index="1" class="table-sub-topic">
                <i tablesubtopic-caret-btn-is-clicked="false" class="fa-solid fa-caret-right tableSubTopic-caret-btn"></i>
                <p class="sub-topic-text">Französisch</p>
            </div> -->

            <!-- <table class="sdm-table-layout" table-sb-index="1">
                <tbody>
                    <tr>
                        <td>hello0</td>
                    </tr>
                    <tr>
                        <td>hello1</td>
                    </tr>
                    <tr>
                        <td>hello2</td>
                    </tr>
                    <tr>
                        <td>hello3</td>
                    </tr>
                </tbody>
            </table> -->

        </div>

        <!-- <tr>
            <td data-table-index="0" id="Englisch-table" class="tableCell">Englisch</td>
                </tr>
                <tr>
            <td data-table-index="1" id="Französisch-table" class="tableCell">Französisch</td>
        </tr> -->
        <a title="close" href="#" id="cls-menu-button" class="fa-solid fa-x " accesskey="k"></a>
    </div>

    <!-- Pop up to create sub topic -->


    <!-- Pop Ups -->

    <!-- First Middle Big PopUp -->
    <div class="middleBig-popUp" id="md-PopUp-TransferCards">
        <div class="md-PopUp-Header">
            <nav>
                <ul id="first-md-PopUp-Header-List">
                    <li>
                        <i id="first-md-PopUp-Header-item" class="fa-solid fa-layer-group fa-2x"></i>
                    </li>
                    <li>
                        <h2 id="first-md-PopUp-Header-title">Copy Cards from one stack to the other stack!</h2>
                    </li>
                    <li>
                        <i id="second-md-PopUp-Header-item" class="fa-solid fa-x fa-2x"></i>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="md-PopUp-Content01">

            <div id="content-header01">
                <h2 id="currStack-winTitle">Current Stack</h2>
                <h2 id="allStacks-winTitle">All Stacks</h2>
            </div>

            <div id="main-content01">

                <div id="currentStack-window">

                    <div id="currStackInfo-div">
                        <h4 id="selectedCards-counter">selected cards: 0/0</h4>
                        <nav>
                            <ul id="info-div-header-list">
                                <li style="color:rgb(255, 255, 255);cursor: default;">
                                    |
                                </li>
                                <li>
                                    <i class="fa-regular fa-check-square" title="select opposite" id="selectOppo-cards-btn"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-share" title="transfer" id="transfer-cards-btn"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-copy" title="copy" id="copy-cards-btn"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-x" title="abort" id="abort-transfer-cards-btn"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div id="currCards-nav-wrapper">
                        <nav id="currStack-nav">
                            <ul class="AllCardsList_popUp-window">
                            </ul>
                        </nav>
                    </div>

                </div>

                <div id="allStacks-windows">

                    <div id="allStacks-win-inner-wrapper">
                        <div id="AllStacksInfo-div">
                            <h4 id="selectedStacks-counter">selected stacks to push cards in: 0</h4>
                        </div>

                        <div id="allStacks-table-wrapper">
                            <table id="allStacks-table">

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- <hr class="full-vertical-line"> -->
    </div>
    <!-- second Middle Big PopUp -->
    <div class="middleBig-popUp" id="md-PopUp-DownlaodCards">
        <div class="md-PopUp-Header">
            <nav>
                <ul id="md-PopUp-DownlaodCards-Header-List">
                    <li>
                        <i id="first-DownloadCards-Header-item" class="fa-solid fa-download fa-2x"></i>
                    </li>
                    <li>
                        <h2 id="first-DownloadCards-Header-title">Save your Stack as a file</h2>
                    </li>
                    <li>
                        <i id="second-DownloadCards-Header-item" class="fa-solid fa-x fa-2x"></i>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="md02-sidebar">
            <div id="md02-sidebar-header">
                <h2>About Files</h2>
                <i id="md02-sidebar-close-btn" class="fa-solid fa-x"></i>
            </div>
            <hr>
            <table>
                <tr id="md02-stackOverview-tab">
                    <td>
                        stack overview
                    </td>
                </tr>
                <tr id="md02-files-tab">
                    <td>
                        files
                    </td>
                </tr>
            </table>
        </div>

        <div id="md-PopUp-Content02">

            <div id="md02-header-bar">
                <div id="side-nav-toggle-btn-wrapper">
                    <i id="side-nav-toggle-btn" class="fa-solid fa-bars fa-2x"></i>
                </div>

                <div id="stack-wrapper">
                    <div id="stackHeader-el-01">
                        <i id="scrollToLeft-btn" class="fas fa-arrow-left"></i>
                    </div>
                    <nav id="stackHeader-el-02">
                        <ul id="header-bar-list">
                        </ul>
                    </nav>
                    <div id="stackHeader-el-03">
                        <i id="scrollToRight-btn" class="fas fa-arrow-right"></i>
                    </div>

                    <!-- Content for Files Tab -->
                    <h3 id="md02-header-Text">All current saved files on your system</h3>
                </div>
            </div>

            <div id="md02-main-content-wrapper">
                <div class="md02-Tab-Content-01">
                    <div id="cards-area">

                        <div id="md02-currStackInfo-div">
                            <div id="md02-infoDiv-innerWrapper">
                                <h4 id="md02-selectedStack-shower">CurrStack | </h4>
                                <h4 id="md02-selectedCards-counter">selected cards: 0/0</h4>
                                <nav>
                                    <ul id="md02-info-div-header-list">
                                        <li style="color:rgb(255, 255, 255);cursor: default;">
                                            |
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-check-square" title="select opposite" id="md02-selectOppo-cards-btn"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-x" title="abort" id="md02-deselect-cards-btn"></i>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div id="cards-main-wrapper">
                            <div id="cards-wrapper">
                                <nav>
                                    <ul id="md02-content-cards-list">

                                    </ul>
                                </nav>
                            </div>
                            <i id="cards-wrapper-question-mark" class="fa-solid fa-question"></i>
                        </div>
                    </div>
                    <div id="info-and-confi-area">
                        <div id="user-setting">
                            <!-- If File doesn't exists -->
                            <div id="file-exist-warning-wrapper">
                                <div id="fe-warning">
                                    <i id="fe-excalamation-mark" class="fa-solid fa-exclamation"></i>
                                    <p id="red-warning-text">something</p>
                                </div>
                            </div>
                            <!-- If File exists -->
                            <div id="file-exist-green-warning-wrapper">
                                <div id="fe-green-warning">
                                    <i id="fe-green-check-mark" class="fa-solid fa-check"></i>
                                    <p id="green-warning-text">something</p>
                                </div>
                            </div>
                            <!-- File exists but not everything is fine but it's still ok -->
                            <div id="file-exist-yellow-warning-wrapper">
                                <div id="fe-yellow-warning">
                                    <i id="fe-yellow-check-mark" class="fa-solid fa-check"></i>
                                    <p id="yellow-warning-text">something</p>
                                </div>
                            </div>
                            <!-- form -->
                            <form id="file-form">
                                <div id="fileProper-wrapper">
                                    <label for="file-namefield">name of file</label>
                                    <input type="text" id="file-namefield" name="name" value="" disabled>
                                    <label id="lastSave-label" for="file-lastSave-field">last save</label>
                                    <input type="text" id="file-lastSave-field" name="name" value="" disabled>
                                </div>
                                <div>
                                    <button type="button" id="save-button">save file</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="md02-Tab-Content-02">
                    <div id="files-wrapper">

                        <div id="md02-filesInfo-div">
                            <div class="md02-InfoInnerWrapper" id="FilesCard_firstHeaderWrapper">
                                <span id="Files-count">Files: 0</span>
                                <i id="files-wrapper-question-mark" class="fa-solid fa-question"></i>
                            </div>
                        </div>

                        <div id="files-main-wrapper">
                            <div id="files-area">
                                <nav>
                                    <ul id="md02-content-files-list">

                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>

                    <div id="file-content-wrapper">

                        <div id="md02-filesContent-EditArea-Header">
                            <div class="md02-InfoInnerWrapper">
                                <span id="md02-filesContent-EditArea-Stack-displayer">Stack | </span>
                                <span id="Cards-Of-Files-count">Cards: 0 - </span>
                                <i title="Select opposite cards" id="md02-fileContent-SelectAllCards-btn" class="fa-regular fa-check-square md02FileContentHeaderItem"></i>
                                <i title="Deselect cards" id="md02-fileContent-DeselectAllCards-btn" class="fa-solid fa-x md02FileContentHeaderItem"></i>
                                <i title="Export file as a stack" id="md02-fileContent-ExportFile-As-Stack" class="fa-solid fa-file-arrow-down md02FileContentHeaderItem"></i>
                                <i title="Export selected cards as a stack" id="md02-fileContent-ExportAll-SelectedCards" class="fa-solid fa-file-export md02FileContentHeaderItem"></i>
                            </div>
                        </div>

                        <div id="files-Cards-main-wrapper">
                            <div id="files-cards-area">
                                <nav>
                                    <ul id="md02-content-files-cards-list">

                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md02-info-pop-up">
        <div id="md02-infoPop-up-head">
            <h2>Info</h2>
            <i id="md02-info-popup-close-btn" class="fa-solid fa-xmark"></i>
        </div>

        <div class="md02-infoPop-up-main">
            <h4>Here you can save cards as a .json file on your pc so your cards are save even if you delete them in the app.</h4>
            <br>
            <h5>In this tab you have an overview of all your cards of all stacks that are saved in the app.</h5>
            <br>
            <h5>On the right you can see if the cards are saved. If not I would recommend you to save your cards for savity reasons <i style="color: rgb(20, 160, 20);" class="fa-solid fa-check fa-1x"></i></h5>
            <h5>You can select all cards or select just a few you want to save</h5>
        </div>
    </div>

    <div class="md02-info-pop-up">
        <div id="md02-infoPop-up-head-filesTab">
            <h2>Info</h2>
            <i id="md02-info-popup-close-btn-filesTab" class="fa-solid fa-xmark"></i>
        </div>

        <div class="md02-infoPop-up-main">
            <h4>In this tap you can monitor your saved files , modify them and export cards as a stack <i style="color: rgb(20, 160, 20);" class="fa-solid fa-check fa-1x"></i></h4>
        </div>
    </div>

    <!-- third Middle Big PopUp -->
    <div class="middleBig-popUp" id="md-PopUp-TimesProgress">
        <div class="md-PopUp-Header">
            <nav>
                <ul id="md-PopUp-TimesProgress-Header-List">
                    <li>
                        <i id="first-TimesProgress-Header-item" class="fa-solid fa-chart-simple fa-2x"></i>
                    </li>
                    <li>
                        <h2 id="first-TimesProgress-Header-title">Track your Progress</h2>
                    </li>
                    <li>
                        <i id="second-TimesProgress-Header-item" class="fa-solid fa-x fa-2x"></i>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="md-PopUp-Content03">
            <div id="md03-content-header">
                <nav>
                    <ul id="md03-header-items">
                        <li>
                            <i class="fa-solid fa-stopwatch" id="times-chart-btn"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-rocket" id="progression-chart-btn"></i>
                        </li>
                    </ul>
                </nav>
                <div>
                    <p class="stack-info-text">Current stack</p>
                </div>
                <div id="dropDown-wrapper">
                    <i class="fa-solid fa-caret-right" id="toggle-dropDown-menu"></i>
                    <div id="dropdown-con">

                    </div>
                </div>
                <div id="additional-options-wrapper">
                    <i>|</i>
                    <button id="DeleteChartData-btn" class="classicbutton">Delete All</button>
                </div>
            </div>

            <div id="md03-main-content">
                <div id="md03-first-chart-content">
                    <div id="md03-underheader">
                        <nav>
                            <ul id="md03-underheader-items">
                                <li>
                                    <i class="fa-solid fa-chart-line" title="Line Chart" id="LineChart-btn"></i>
                                    <!-- Line Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-chart-column" title="Bar Chart" id="BarChart-btn"></i>
                                    <!-- Bar Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-chart-pie" title="Pie Chart" id="PieChart-btn"></i>
                                    <!-- Pie Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-nodes" title="Doughnut Chart" id="DoughnutChart-btn"></i>
                                    <!-- Doughnut chart -->
                                </li>
                            </ul>
                        </nav>
                        <div>
                            <p class="graph-info-text">/ line Chart</p>
                        </div>
                    </div>

                    <div id="first-chart-header">
                        <h2>Monitor your times</h2>
                    </div>
                    <div id="Chart-wrapper">
                        <canvas id="ProgressionChart-times" width="800px" height="440px" role="img"></canvas>
                    </div>
                    <div class="chart-option-wrapper">
                        <i id="chart-first-checkbox" class="fa-regular fa-square-check"></i>
                        <h3 class="chart-option-text">
                            mix chart
                        </h3>
                    </div>
                </div>

                <div id="md03-second-chart-content">
                    <div id="md03-underheader02">
                        <nav>
                            <ul id="md03-underheader-items02">
                                <li>
                                    <i class="fa-solid fa-chart-line" title="Line Chart" id="LineChart-btn02"></i>
                                    <!-- Line Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-chart-column" title="Bar Chart" id="BarChart-btn02"></i>
                                    <!-- Bar Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-chart-pie" title="Pie Chart" id="PieChart-btn02"></i>
                                    <!-- Pie Chart -->
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-nodes" title="Doughnut Chart" id="DoughnutChart-btn02"></i>
                                    <!-- Doughnut chart -->
                                </li>
                            </ul>
                        </nav>
                        <div>
                            <p class="graph-info-text">/ line Chart</p>
                        </div>
                    </div>

                    <div id="second-chart-header">
                        <h2>Trial and Error</h2>
                    </div>
                    <div id="Chart-wrapper2">
                        <canvas id="ProgressionChart-correctness" width="800px" height="440px" role="img"></canvas>
                    </div>
                    <div class="chart-option-wrapper">
                        <i id="chart-sec-checkbox" class="fa-regular fa-square-check"></i>
                        <h3 class="chart-option-text">
                            mix chart
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div id="wrapper">

        <!-- position:fixed -->
        <div class="fixed-footer">
            <p class="stack-info"><i title="delete this stack" id="sdm-x-item" class="fa-solid fa-trash-can"></i></p>
            <span>|</span>
            <p class="display-stack-theme"></p>
        </div>

        <div id="side-navigation">
            <button class="mini-button" id="sn-transferCards-butt" title="copy and paste cards">

            <i id="sn-icon-1" class="fa-solid fa-layer-group fa-2x"></i>

            </button>
            <button class="mini-button" id="sn-saveStack-butt" title="download stack">

                <i id="sn-icon-2" class="fa-solid fa-download fa-2x"></i>

            </button>
            <button class="mini-button" id="sn-timeChart-butt" title="times table/chart">

                <i id="sn-icon-3" class="fa-solid fa-chart-simple fa-2x"></i>

            </button>
        </div>

        <div id="main-content">
            <div id="neuer-stappel">
                <div id="stappel-head">
                    <a title="create a new index card" href="#" class="fa-solid fa-pen fa-2x" id="createCard-Pen"></a>
                </div>
                <div id="sv">
                    <h3 class="NeuerStapel_UserShortInput" contenteditable data-placeholder="front" id="NeuerStapel_vs"></h3>
                </div>
                <div id="sr">
                    <h3 class="NeuerStapel_UserShortInput" contenteditable data-placeholder="back" id="NeuerStapel_rs"></h3>
                </div>
            </div>
            <div id="stappel-info-wrapper">
                <p id="front-stack-words-left">Letters left: 37</p>
                <p id="back-stack-words-left">/ 37</p>
            </div>
            <div id="stappel-wrapper">
                <div title="click to learn" id="stappel">
                    <h2 id="stappel-header"></h2>
                    <h4 id="stappel-underhead"></h4>
                </div>
            </div>
        </div>

        <div id="initial-text">
            <h1 id="Main_InI-Text">
                Looks like there is no stack in your Storage yet...
            </h1>
            <h2 id="Main_SecInI-Text">
                Create a stack by opening the left side menu
            </h2>
        </div>

        <!-- Just for flex box -->
        <div class="wrapper-extra-div-right">
            <i title="monk mode" id="adjustable-header-btn"></i>
        </div>
    </div>

    <div id="dark-webapp-con"></div>


    <div id="sts-popup">
        <div id="side-con">
            <table id="sts-table">
                <tbody>
                    <tr>
                        <th id="sts-table-headline">
                            Settings
                        </th>
                    </tr>
                    <tr>
                        <td id="stsTable-Item1">
                            Shortcuts
                        </td>
                    </tr>
                    <tr>
                        <td id="stsTable-Item2">
                            App Colors
                        </td>
                    </tr>
                    <tr>
                        <td id="stsTable-Item3">
                            User Settings
                        </td>
                    </tr>
                    <tr>
                        <td id="stsTable-Item4">
                            Info
                        </td>
                    </tr>
                    <tr>
                        <td id="stsTable-Item5">
                            Contact me
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="sts-main-content">
            <div id="sts-head">

                <h3 id="sts-head-title">Shortcuts</h3>
                <i id="cls-sts-button" class="fa-solid fa-x fa-1x"></i>

                <hr id="sts-line" class="vertical-line">
            </div>

            <div id="sts-content">
                <div id="first-content">
                    <h3>1. Open Side Menu</h3>
                    <p class="sts-underText">To open the Side Menu with the following key shortcut, you must not have any other window open in the app.</p>
                    <b class="sts-underText">Ctrl + M</b>

                    <h3>2. Close Side Menu</h3>
                    <p class="sts-underText">To close the Side Menu with the following key shortcut, the side menu should be open first.</p>
                    <b class="sts-underText">Shift + M</b>

                    <h3>3. Switch Dark/Light Mode</h3>
                    <p class="sts-underText">Use the first Shortcut to switch to darkmode and the second for lightmode. Use the third key to toggle between light and darkmode.
                    </p>
                    <b class="sts-underText" id="firstKeyOf-KeyList">Shift + D</b>
                    <br>
                    <b class="sts-underText">Shift + L</b>
                    <br>
                    <b class="sts-underText">Shift + T</b>

                    <h3>4. Add new index card to the stack</h3>
                    <p class="sts-underText">This shortcut only works if the front and back of the new card are labeled and the focus is setted to the back of the card.</p>
                    <b class="sts-underText">Enter</b>

                    <h3>5. Switch to front and back</h3>
                    <p class="sts-underText">Only works if one of the fields from the index card is focused.</p>
                    <b class="sts-underText">key down / key up</b>

                    <h3>6. Open Playground</h3>
                    <p class="sts-underText">To open the Playground with the following key shortcut, you must not have any other window open in the app.</p>
                    <b class="sts-underText">Shift + P</b>

                    <h3>7. Close Playground</h3>
                    <p class="sts-underText">To open the Playground with the following key shortcut, you must not have any other window open in the app.</p>
                    <b class="sts-underText">Shift + G</b>
                </div>

                <div id="sec-content">
                    <h2 id="sec_con-title">Change your app colors to have the best learning experience</h2><br>

                    <div id="color-field-1">

                        <h3>first basic background color</h3>
                        <input type="color" value="#43da86" id="style1" />
                        <label for="style1" id="ColorText-1">#43da86</label>

                        <h3>second basic background color</h3>
                        <input type="color" value="#43da86" id="style2" />
                        <label for="style2" id="ColorText-2">#43da86</label>

                        <br><br>
                        <button id="saveColorChanges-1" class="bn30">Save changes</button>
                    </div>

                </div>

                <div id="third-content">
                    <h2 class="tab-subtitle"><i id="AppColorSettings-dropdown-btn" class="fa-solid fa-caret-right"></i> App Colors</h2>

                    <div class="child-Content">
                        <button id="SetColorToDefault-Butt" class="classicbutton">Reset default colors</button>
                    </div>

                    <h2 class="tab-subtitle"><i id="OtherSettings-dropdown-btn" class="fa-solid fa-caret-right"></i> Other</h2>

                    <div class="child-Content">
                        <button id="ResetApp-Butt" class="classicbutton">Reset App (Dangerous)</button>
                    </div>

                </div>

                <div id="fourth-content">
                    <h3>Created by <a style="text-decoration: underline;" target="_blank" href="https://github.com/josef-stips">josef-stips</a></h3>
                    <p id="info-version_field"></p>
                </div>

                <div id="fift-content">
                    <div class="form">
                        <form method="post" id="e-mail-form">
                            <input id="name" name="name" type="text" class="feedback-input" placeholder="What's your name?" autocomplete="off" />
                            <input style="display:none;" id="email" name="email" type="email" class="feedback-input" placeholder="YOUR Email" autocomplete="off" />
                            <input style="display:none;" id="subject" name="subject" type="text" class="feedback-input" placeholder="Subject" autocomplete="off" />
                            <textarea id="message" name="text" class="feedback-input" placeholder="Message"></textarea>
                            <button id="btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="CreateTableElWindow">
        <div class="CTE-header">
            <h2 id="CTE-header-title">Create new stack</h2>
            <i title="abort" id="cteAbortButton" class="fa-solid fa-x fa-x"></i>
        </div>
        <hr>

        <div class="CTE_content-form">

            <div class="CTE_Namefield">
                <label for="input2">name of stack</label>
                <div class="CTE_InputNamefield">
                    <input type="text" id="input2" name="name" value="">
                    <i title="delete name" id="cteDeleteName" class="fa-solid fa-trash-can"></i>
                </div>
            </div>

            <div class="CTE_SubTopicfield">
                <div class="CTE_SubTopic-header">
                    <label>choose a sub topic</label>
                    <i cte_subtopic-btn-isclicked="false" id="CTE_SubTopic-btn" class="fa-solid fa-caret-right"></i>
                    <i id="displayed-subtopic"></i>
                </div>

                <div id="CTE-subtopic-dropdown">

                </div>
            </div>

            <div class="CTE_Colorfield">
                <label id="CTE_colorTheme-title" for="colorTheme-field">choose color theme</label>

                <div class="CTE_colorTHEME-btn-wrapper">
                    <div class="CTE-colortheme-btn" id="theme-1"></div>
                    <div class="CTE-colortheme-btn" id="theme-2"></div>
                    <div class="CTE-colortheme-btn" id="theme-3"></div>
                    <div class="CTE-colortheme-btn" id="theme-4"></div>
                    <div class="CTE-colortheme-btn" id="theme-5"></div>
                    <div class="CTE-colortheme-btn" id="theme-6"></div>
                    <div class="CTE-colortheme-btn" id="theme-7"></div>
                    <div class="CTE-colortheme-btn" id="theme-8"></div>
                    <div class="CTE-colortheme-btn" id="theme-9"></div>
                    <div class="CTE-colortheme-btn" id="theme-10"></div>
                </div>

                <p id="CTE_colorTheme-untitle">choosed theme - No theme</p>
            </div>
        </div>

        <div class="CTE_footer">
            <button title="confirm" id="cteAcceptName" style="--clr:#FF44CC"><span>Create Stack <i class="fas fa-arrow-right"></i></span><i></i></button>
            <p id="CreateStack-footer-infoText">By clicking "Create Stack" all cards from the file are automatically in the stack</p>
        </div>
    </div>

    <div class="createSubTopic-popUp">
        <div class="CST-header">
            <h3>Create a sub topic</h3>
            <i title="abort" id="cst-AbortButton" class="fa-solid fa-x fa-x"></i>
        </div>
        <label for="input4">name of the sub topic</label>
        <div class="CST-content">
            <input type="text" id="input4" name="name" value="">
            <i title="delete name" id="cst-DeleteName" class="fa-solid fa-trash-can"></i>
        </div>
        <div class="CST-footer">
            <button title="confirm" id="cst-acceptName" style="--clr:#FF44CC"><span>Create Sub Topic <i class="fas fa-arrow-right"></i></span><i></i></button>
        </div>
    </div>

    <div id="play-ground">
        <!--First Mode Container-->
        <div id="pg-NavHeader">
            <div id="pg-header-ini-Wrapper">
                <h2 id="pg-header-iniText">Playground</h2>
                <li class="fa-solid fa-x fa-2x" id="pg-INI-close-btn"> </li>
            </div>
            <nav id="pg-nav-header">
                <ul id="pg-NavItems">
                    <li class="fa-solid fa-x fa-2x" id="pg-navClickEl-1"> </li>
                    <li id="pg-navClickEl-3" class="fa-solid fa-rotate-right fa-2x"></li>
                    <li id="play-timer"></li>
                    <li id="CardsOfMaxCards-text">0/0</li>
                    <li id="pg-loc-header"></li>
                    <li class="fa-solid fa-check fa-2x" id="pg-navClickEl-2"></li>
                </ul>
            </nav>
            <hr id="pg-vl" class="vertical-line">
        </div>


        <div class="pg-Overview-wrapper">
            <!-- Mode overview -->
            <div class="pg-ModeOverview">
                <h2>Select Mode</h2>
                <ul class="pg-ModeList">
                    <li id="pg-classicMode-btn"> <i class="Mode-btn">Classic Mode</i>
                        <!-- - Nothing to write just think and see if it's correct-->
                    </li>
                    <li id="pg-writeMode-btn"> <i class="Mode-btn">Write Mode</i>
                        <!-- - Type your Answer in a Text field-->
                    </li>
                    <li id="pg-multipleChoiceMode-btn"> <i class="Mode-btn">Multiple Choice</i>
                        <!--- Select the right answer-->
                    </li>
                    <li id="pg-connectMode-btn"> <i class="Mode-btn">Connect Mode</i>
                        <!--- Connect the cards that belong together by clicking them (Works only with a max. of 30 cards)-->
                    </li>
                </ul>

                <h3 id="pg-ShowMode-title">Selected mode - Classic Mode (default)</h3>

                <h2 id="selectCardView-title">Select Card View</h2>
                <ul class="pg-ViewList">
                    <li class="pg-showCardAbove-btn"> Show card above</li>
                    <li class="pg-showCardBelow-btn"> Show card below</li>
                </ul>

                <h3 id="pg-ShowCardView-title">Selected view - Above (recommended)</h3>

            </div>
            <div class="pg-Overview-under-div">
                <button id="pg-Start-btn" style="--clr:#FF44CC"><span>Start <i class="fas fa-arrow-right"></i></span><i></i></button>
                <button id="pg-ShowAllCards-btn" style="--clr:#FF44CC"><span>Cards</span><i></i></button>
            </div>
        </div>

        <div class="pg-MainContent">
            <!--Second Main Container-->
            <div id="pg-karteikarten-div">
                <div class="pg-Karteikarte">
                    <!-- If classic mode is on -->

                    <div id="pg-sv">
                        <h3 class="UserShortInput">front</h3>
                    </div>
                    <div id="pg-sr">
                        <h3 id="pg-back-card" class="UserShortInput">back</h3>
                    </div>

                    <!-- If connect mode is on -->

                    <div id="connect-cards-area">
                        <div class="connect-cards-header-area">
                            <p>Connect two cards each</p>
                        </div>
                        <div id="connect-FrontCards">
                            <ul id="FrontCards-ul" class="ConnectMode-CardList">

                            </ul>
                        </div>
                        <div id="connect-BackCards">
                            <ul id="BackCards-ul" class="ConnectMode-CardList">

                            </ul>
                        </div>
                    </div>

                    <div id="multiple-choice-area">
                        <div id="multiple-choice-header">
                            Multiple Choice
                        </div>
                        <div class="multiple-cards-area">
                            <ul id="multipleCards-back-ul" class="ConnectMode-CardList MultipleChoice-CardList">

                            </ul>
                        </div>
                        <div class="MultipleChoice-middleDiv">
                            <hr class="text-style-hr01">
                            <p class="text-style-p">Choose the right card</p>
                            <hr class="text-style-hr02">
                        </div>
                        <div class="single-card-area">
                            <ul id="singleCard-front-ul" class="MultipleChoice-CardList">

                            </ul>
                        </div>
                    </div>

                </div>
                <hr id="pg-vl2" class="vertical-line">
            </div>
            <!--Third Main Container-->
            <div id="pg-Subheader">
                <div class="pg-sub-firsDiv">
                    <button id="ShowAllCards-Button" class="bn30">Show all cards</button>
                </div>
                <div class="pg-sub-secondDiv">

                    <div class="ModeModify">
                        <div class="WriteMode-Modify">
                            <p contenteditable class="UserShortInput2" id="input3"></p>
                        </div>
                    </div>
                    <!--Vor dem Spiel-->
                    <div class="pg-oben-SichtbarDiv">
                        <p style="margin-top:1.4% ;">view above</p>
                    </div>
                    <div class="pg-unten-SichtbarDiv">
                        <p style="margin-top:1.4% ;">view below</p>
                    </div>

                    <!--whärend dem Spiel-->
                    <div class="pg-wiederhohlen-div">
                        <p style="margin-top:1.4% ;">repeat</p>
                    </div>
                    <div class="pg-kannIch-div">
                        <p style="margin-top:1.4% ;">easy</p>
                    </div>

                    <!--Nach dem Spiel-->
                    <div class="pg-nochmal-div">
                        <p style="margin-top:1.4% ;">repeat</p>
                    </div>
                    <div class="pg-spaeter-div">
                        <p style="margin-top:1.4% ;">later</p>
                    </div>
                </div>
                <div class="extra-retry-btn">
                    <button id="pg-RetryMistakes-btn" style="--clr:#FF44CC"><span>Retry Mistakes</span><i></i></button>
                </div>
            </div>
        </div>

        <div id="pg-countdown-wrapper">
            <h1 id="pg-countdown">The Game begins in..</h1>
        </div>
    </div>


    <div id="allCardsWindow">
        <div class="ShowCards-sideCon">
            <nav>
                <ul class="SideCon-Icons">
                    <li>
                        <a href="#" class="fa-regular fa-circle-question fa-2x" title="Info" id="AllCardsWind-InfoButt"></a>
                    </li>
                    <li>
                        <a href="#" class="fa-solid fa-trash fa-2x" title="delete all" id="deleteAllCards_Button"></a>
                    </li>
                    <li>
                        <a href="#" class="fa-solid fa-pen fa-2x" title="edit" id="EditCard_Button"></a>
                    </li>
                    <li>
                        <a href="#" class="fa-solid fa-check fa-2x" id="Check_ForEdit" title="Done edit"></a>
                    </li>
                </ul>
            </nav>
            <hr id="pg-vl4" class="vertical-line">

            <div id="ShowCardsWindow-SideCon">
            </div>
        </div>

        <div class="showCards-Content">
            <div id="allCards-searchBar-wrapper">
                <input type="text" class="search-bar" placeholder="search...">
            </div>

            <i id="showCards-WindButt" class="fa-solid fa-x fa-1x"></i>

            <div class="CardListCont">
                <div id="cardsOverview-CardAmount-wrapper">
                    <i id="pgOverview-CardAmount">50 Cards</i>
                </div>
                <nav>
                    <ul class="AllCardsList">

                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <div class="small-pop-up">
        <div>
            <p id="spu-text"></p>
        </div>
        <div id="pop-up-button-div">
            <button class="bn30" id="PopUp-yes-button">yes</button>
            <button class="bn30" id="PopUp-no-button">no</button>
        </div>
    </div>

    <div class="info-pop-up">
        <div class="info-pp-border">
            <div class="info-pp-header">
                <h3>This is new since the latest Update</h3>
                <i class="fa-solid fa-x" id="info-pp-close-btn"></i>
            </div>
            <div class="info-pp-content">
                <ul>
                    <li>
                        - You can <b class="colorful-text">copy</b> and <b class="colorful-text">transfer</b> cards to other stacks
                    </li>
                    <li>
                        - You can monitor your <b class="colorful-text">progress</b>!
                    </li>
                    <li>
                        - You can <b class="colorful-text">save</b> cards so you can't lose them!
                    </li>
                    <li>
                        - New search <b class="colorful-text">functions</b>!
                    </li>
                    <li>
                        - Create your costum colorful <b class="colorful-text">Interface</b>!
                    </li>
                    <li>
                        - Create sub topics to <b class="colorful-text">organize</b> your stacks!
                    </li>
                    <li>
                        - New <b class="colorful-text">Game Modes</b>!
                    </li>
                    <li>
                        - Many other <b class="colorful-text">improvements</b> to increase your learning experience!
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>