:root {
    --front-color: #ffffff;
    --bg-header-gardiant-01: rgb(16, 23, 26);
    --bg-header-gardiant-02: rgb(35, 41, 47);
    --bg-div-gardiant-01: rgb(25, 32, 35);
    --bg-div-gardiant-02: rgb(35, 41, 47);
    --button-hover-color: #4568dc;
    --pop-up-dark-background: #00000066;
    --border-color: #000000;
    --bg-table-gardiant-01: rgb(20, 27, 32);
    --bg-table-gardiant-02: rgb(24, 30, 37);
    --table-cell-hover: #6883de;
    --color-invisible: #00000000;
    --second-front-color: rgb(222, 222, 222);
    --second-border-color: rgb(13, 17, 21);
    --user-input-02: rgb(7, 14, 21);
    --bg-table-gardiant-03: rgb(21, 30, 38);
    --third-front-color: rgb(176, 106, 179);
    --bg-alpha-color: rgba(255, 255, 255, 0.4);
    --bg-alpha-color-02: rgba(255, 255, 255, 0.595);
    --bg-button-color: #b06ab3;
    --bg-mini-div: rgb(40, 54, 67);
    --bg-pop-up-gardiant-01: rgb(22, 31, 35);
    --bg-pop-up-gardiant-02: rgb(25, 30, 35);
    --button-hover-color-02: rgba(128, 128, 128, 0.1);
    --third-border-color: #0e0e10;
    --white-front-color: rgb(255, 255, 255);
    --button-blur: rgba(255, 255, 255, 0.5);
    --button-hover-color-special: rgba(255, 255, 255, 0.5);
    --mini-button-hover: rgb(151, 191, 255);
    --mini-button-bg-color: #f8f7ff1b;
    --standard-dark-color-01: rgb(16, 23, 26);
    --standard-dark-color-02: rgb(7, 14, 21);
}

.dark-mode {
    --bg-gardiant-01: rgb(16, 23, 26);
    --bg-gardiant-02: rgb(7, 14, 21);
    --front-color: #ffffff;
    --button-hover-color: #4568dc;
    --pop-up-dark-background: #00000066;
    --border-color: #000000;
    --bg-table-gardiant-01: rgb(20, 27, 32);
    --bg-table-gardiant-02: rgb(24, 30, 37);
    --table-cell-hover: #6883de;
    --color-invisible: #00000000;
    --second-front-color: rgb(222, 222, 222);
    --second-border-color: rgb(13, 17, 21);
    --user-input-02: rgb(7, 14, 21);
    --bg-table-gardiant-03: rgb(21, 30, 38);
    --third-front-color: rgb(176, 106, 179);
    --bg-alpha-color: rgba(255, 255, 255, 0.4);
    --bg-alpha-color-02: rgba(255, 255, 255, 0.595);
    --bg-button-color: #b06ab3;
    --bg-mini-div: rgb(40, 54, 67);
    --bg-pop-up-gardiant-01: rgb(22, 31, 35);
    --bg-pop-up-gardiant-02: rgb(25, 30, 35);
    --button-hover-color-02: rgba(128, 128, 128, 0.1);
    --third-border-color: #0e0e10;
    --white-front-color: rgb(255, 255, 255);
    --button-blur: rgba(255, 255, 255, 0.5);
    --button-hover-color-special: rgba(255, 255, 255, 0.5);
    --mini-button-hover: rgb(151, 191, 255);
    --mini-button-bg-color: #f8f7ff1b;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
}

::-webkit-scrollbar {
    width: 0;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--front-color);
    text-decoration: none;
    transition: color 0.15s ease-out;
}

a:hover {
    color: var(--button-hover-color);
    transition: color 0.18s ease-in;
}

.tableCell {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
}

.UserShortInput {
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0;
}

.vertical-line {
    height: 2px;
    width: 100%;
    border: none;
    color: var(--front-color);
    background-color: var(--front-color);
}

.horizontal-line {
    height: 100%;
    width: 2px;
    border: none;
    color: var(--front-color);
    background-color: var(--front-color);
}

#dark-webapp-con {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--pop-up-dark-background);
    display: none;
    z-index: 21100;
}


/***********************HEADER***********************/

header {
    height: 0;
    background-image: linear-gradient(to bottom right, var(--bg-header-gardiant-01, var(--bg-header-gardiant-02)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    box-shadow: 1px 1px 10px var(--front-color);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

header h1 {
    padding-left: 270px;
    color: var(--front-color);
    font-size: 28px;
}

header a:hover {
    transition: color 0.2s ease-in-out;
    color: var(--button-hover-color);
    cursor: pointer;
}

header a {
    transition: color 0.2s ease-in-out;
    color: var(--front-color);
}

#nav_links {
    list-style: none;
}

#nav_links li {
    display: inline-block;
    padding-left: clamp(60px, 10px, 75px);
}

#nav_links li:first-child {
    padding-left: 0px;
}


/*********************SIDE-MENU*********************/

.table-wrapper {
    overflow-y: auto;
    display: block;
    height: 90vh;
}

#side-menu {
    transition: all 0.3s ease-in-out;
    height: 100vh;
    width: 0;
    background-image: linear-gradient(to bottom right, var(--bg-header-gardiant-01), var(--bg-header-gardiant-02));
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid var(--border-color);
    font-family: 'Roboto', sans-serif;
}

#cls-menu-button {
    position: absolute;
    top: 11px;
    right: 5px;
    padding: 0px 10px 0 0;
    font-size: 22px;
    transition: all 0.2s ease-in-out;
    color: var(--front-color);
}

#cls-menu-button:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--button-hover-color);
}

#sdm-content {
    padding: 0.75rem 0.75rem 0 0.75rem;
    color: var(--front-color);
}

#sdm-plus-item {
    transition: all 0.5 ease-in-out;
    color: var(--front-color);
}

#sdm-plus-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}

#sdm-table {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    width: 100%;
    color: var(--front-color);
    border-top: 1px solid var(--front-color);
    border-bottom: 1px solid var(--front-color);
    padding-top: 2.5px;
    padding-bottom: 15px;
}

#sdm-table tr td {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding-top: 10px;
}

#sdm-table tr td:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: var(--table-cell-hover);
}

#sdm-icons {
    padding: 0 0 0 0px;
    padding-top: 15px;
}

#sdm-trash-item {
    margin-left: 10px;
}

#sdm-x-item {
    margin-left: 10px;
}

#sdm-trash-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}

#sdm-x-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}


/*********************MAIN_CONTENT*********************/

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 4.6851485148514851vh);
}

#main-content {
    height: 85vh;
    width: min-content;
    display: none;
    flex-direction: column;
    margin-left: -20px;
}

#neuer-stappel {
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    background-image: linear-gradient(to top left, var(--bg-div-gardiant-01), var(--bg-div-gardiant-02));
    box-shadow: 0.5px 0.5px 7px var(--border-color);
}

#sv {
    width: 100vh;
    height: 20vh;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
}

#sv h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

#sr h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

#sr {
    width: 100vh;
    height: 20vh;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
}

#stappel-wrapper {
    background-color: var(--color-invisible);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stappel {
    background-image: linear-gradient(to bottom right, var(--bg-div-gardiant-01), var(--bg-div-gardiant-02));
    width: 100vh;
    height: 88%;
    text-align: center;
    font-weight: 600;
    color: var(--second-front-color);
    box-shadow: 1px 1px 10px var(--border-color);
}

#stappel:hover {
    cursor: pointer;
}

#stappel-header {
    margin: 2.25rem 0 0 0;
    padding: 0;
    font-size: 23px;
}

#stappel-underhead {
    margin: 1.2rem 0 0 0;
    padding: 0;
    font-size: 16px;
}

#main-content h3 {
    margin: 6%;
    font-size: 25px;
}

#initial-text {
    text-align: center;
    margin: -27em 0 0 0;
    display: none;
}

#Main_InI-Text {
    color: var(--front-color);
}

#Main_SecInI-Text {
    color: var(--second-front-color);
}

#side-navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
}

.mini-button {
    height: 45px;
    width: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: none;
    transition: all 0.13s ease-out;
    background-color: var(--mini-button-bg-color);
}

.mini-button:hover {
    transition: all 0.13s ease-out;
    cursor: pointer;
    background-color: var(--mini-button-hover);
}


/*********************Middle Big PopUp*********************/

.middleBig-popUp {
    z-index: 21200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 60%;
    height: 75vh;
    background-image: linear-gradient(to bottom right, var(--bg-header-gardiant-01), var(--user-input-02));
    box-shadow: 1px 1px 7px var(--border-color);
}

.md-PopUp-Header {
    border-bottom: 1px solid var(--front-color);
}


/* First PopUp */

#md-PopUp-TransferCards {
    display: none;
}

#first-md-PopUp-Header-List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0.6em;
}

#first-md-PopUp-Header-title {
    color: var(--front-color);
    margin: 0;
    padding: 0;
}

#first-md-PopUp-Header-item {
    color: var(--front-color);
    font-size: 22px;
}

#second-md-PopUp-Header-item {
    transition: all 0.13s ease-in;
    color: var(--front-color);
    font-size: 22px;
}

#second-md-PopUp-Header-item:hover {
    transition: all 0.13s ease-in;
    cursor: pointer;
    color: var(--mini-button-hover);
}


/* Second PopUp */

#md-PopUp-DownlaodCards {
    display: none;
}

#md-PopUp-DownlaodCards-Header-List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0.6em;
}

#first-DownloadCards-Header-item {
    color: var(--front-color);
    font-size: 22px;
}

#first-DownloadCards-Header-title {
    color: var(--front-color);
    margin: 0;
    padding: 0;
}

#second-DownloadCards-Header-item {
    transition: all 0.13s ease-in;
    color: var(--front-color);
    font-size: 22px;
}

#second-DownloadCards-Header-item:hover {
    transition: all 0.13s ease-in;
    cursor: pointer;
    color: var(--mini-button-hover);
}


/* Third PopUp */

#md-PopUp-TimesProgress {
    display: none;
}

#md-PopUp-TimesProgress-Header-List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0.6em;
}

#first-TimesProgress-Header-item {
    color: var(--front-color);
    font-size: 22px;
}

#second-TimesProgress-Header-item {
    transition: all 0.13s ease-in;
    color: var(--front-color);
    font-size: 22px;
}

#first-TimesProgress-Header-title {
    color: var(--front-color);
    margin: 0;
    padding: 0;
}

#second-TimesProgress-Header-item:hover {
    transition: all 0.13s ease-in;
    cursor: pointer;
    color: var(--mini-button-hover);
}


/*********************SETTINGS-POP-UP-MENU*********************/

#sts-popup {
    width: 85%;
    height: 85vh;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    z-index: 21200;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    flex-direction: row;
    display: none;
}

#side-con {
    width: 27.5%;
    height: 100%;
}

#sts-main-content {
    width: 72.5%;
    height: 100%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
}

#cls-sts-button {
    color: var(--front-color);
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 25px;
    transition: color 0.2s ease-out;
}

#cls-sts-button:hover {
    transition: color 0.2s ease-out;
    cursor: pointer;
    color: var(--button-hover-color);
}

#sts-table {
    width: 100%;
    color: var(--front-color);
    background-color: rgba(255, 255, 255, 0.01);
    border: none;
}

#sts-table tr td {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding: 10px 0 15px 0;
}

#sts-table tr th {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 21px;
    padding: 10px 0 12px 0;
    letter-spacing: 4px;
    border: none;
}

#sts-table tr td:first-child {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding: 0;
    padding: 10px 0 15px 0;
    border-top: none;
}

#sts-table tr td:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: var(--table-cell-hover);
}

#sts-line {
    margin-top: 10px;
}

#sts-content {
    color: var(--front-color);
    height: 100%;
}

.sts-underText {
    margin: 0 0 0 10px;
}

#first-content {
    padding: 0 0 0 10px;
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#sts-head-title {
    color: var(--front-color);
    margin: 10px 0 0 10px;
    padding: 0;
    font-size: 23px;
}

#sec-content {
    display: none;
    width: 100%;
    height: 92%;
    overflow: scroll;
}

#third-content {
    padding: 0 0 0 10px;
    display: none;
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#fourth-content {
    padding: 0 0 0 10px;
    display: none;
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#info-version_field {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

#fift-content {
    display: none;
}

.tab-subtitle {
    color: var(--second-front-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

#settingTab-parting-line {
    margin-top: 25px;
    width: 90%;
    display: none;
}

.child-Content {
    margin: 5px 0 10px 10px;
}

#color-field-1 {
    padding: 14px;
    padding-bottom: 32px;
}

#sec_con-title {
    margin-left: 7px;
}


/***********************CONTACT-FORM***********************/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form {
    max-width: 50em;
    margin: 50px auto;
}

.form {
    padding: 14px;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--table-cell-hover);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid var(--button-hover-color);
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

#btn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--table-cell-hover);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#btn:hover {
    background: var(--button-hover-color);
}


/*********************USER-CREATE-NEW-TABLE-ELEMENT-POP-UP*********************/

#CreateTableElWindow {
    width: 30%;
    height: 170px;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    top: 0;
    margin-bottom: auto;
    margin-top: 25em;
    position: absolute;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 21200;
    color: var(--front-color);
    text-align: left;
    display: none;
}

#CreateTableElWindow h2 {
    margin: 4px 0 0 15px;
}

.UserShortInput2 {
    font-size: 1.5rem;
    letter-spacing: .15em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: var(--user-input-02);
    margin-bottom: 13px;
    margin-top: 13px;
}

#cteNav-links {
    list-style: none;
    margin: 0;
}

#cteNav-links li {
    display: inline-block;
    padding-left: 35px;
    transition: color 0.2s ease-out;
    font-size: 12px;
}

#cteNav-links li:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.2s ease-out;
}

#cteNav-links li:first-child {
    padding-left: 0px;
    margin: 0.25em 0 0 27.5em;
}


/*********************PLAY-GROUND*********************/

#play-ground {
    height: 85vh;
    width: 85%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto auto auto;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 21200;
    color: var(--front-color);
    text-align: left;
    display: none;
    flex-direction: column;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#pg-NavItems {
    padding: 0;
    margin: 0;
    text-align: center;
}

#pg-NavItems li {
    display: inline-block;
    font-size: 28px;
}

#pg-NavItems li:first-child {
    float: left;
    margin: 0.6% 0 0 0.75%;
}

#pg-NavItems li:nth-child(2) {
    float: left;
    margin: 0.6% 0 0 1.15%;
}

#play-timer {
    float: left;
    margin: 0.22% 0 0 5%;
}

#pg-NavItems li:last-child {
    float: right;
    margin: 0.6% 0.45% 0 0;
}

#pg-loc-header {
    font-size: 30px;
    color: var(--third-front-color);
    margin-left: -12%;
}

#pg-vl {
    margin: 0.8% 0 0 0;
    background-color: var(--bg-alpha-color);
}

#pg-vl2 {
    margin: 1.6% 0 0 0;
    background-color: var(--bg-alpha-color);
}

#pg-vl4 {
    margin: 1.6% 0 0 0;
    background-color: var(--front-color);
}

#pg-karteikarten-div {
    margin-top: 0.65%;
}

.pg-Karteikarte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pg-Karteikarte:hover {
    cursor: pointer;
}

#pg-sv {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    border-bottom: 0.5px solid var(--border-color);
    width: 70%;
    height: 30vh;
    color: var(--front-color);
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pg-sv h3 {
    font-size: 26px;
    margin-top: 10%;
}

#pg-sr h3 {
    font-size: 26px;
    margin-top: 10%;
}

#pg-sr {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    width: 70%;
    height: 30vh;
    text-align: center;
    color: var(--front-color);
    box-shadow: 3px 3px 15px var(--border-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pg-Subheader {
    display: flex;
    flex-direction: column;
}

.pg-sub-firsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg-sub-secondDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    font-size: 20px
}

.pg-oben-SichtbarDiv {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
}

.pg-oben-SichtbarDiv:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-unten-SichtbarDiv {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
}

.pg-unten-SichtbarDiv:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-wiederhohlen-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
    display: none;
}

.pg-kannIch-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    display: none;
}

.pg-kannIch-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-wiederhohlen-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-nochmal-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
    display: none;
}

.pg-spaeter-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    display: none;
}

.pg-nochmal-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-spaeter-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

#pg-navClickEl-1 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-2 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-3 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-1:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-2:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-3:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}


/*********************PLAY-GROUND-BUTTON*********************/

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, var(--button-hover-color), var(--bg-button-color));
    padding: 0.7em 2em;
    border-radius: 25px;
    box-shadow: 1px 1px 10px var(--bg-alpha-color);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: var(--white-front-color);
    margin: 0.3% 0 0 0;
}

.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, var(--button-hover-color), var(--bg-button-color));
}

.bn30:after {
    content: "";
    border-radius: 20px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--third-border-color);
}

.bn30:hover {
    background-image: linear-gradient(-45deg, var(--button-hover-color), var(--bg-button-color));
    box-shadow: 0 12px 24px var(--button-hover-color-02);
}

.bn30:hover .text {
    background-image: linear-gradient(-45deg, var(--button-hover-color), var(--bg-button-color));
}


/*********************SHOW ALL CARDS WINDOW*********************/

#allCardsWindow {
    height: 85vh;
    width: 85%;
    position: absolute;
    top: 70px;
    left: 7.52%;
    z-index: 22110;
    flex-direction: row;
    border: 1px solid var(--border-color);
    display: none;
}

#ShowCardsWindow-SideCon {
    margin: 10px 0 0 10px;
}

#SideCont_Text {
    color: var(--front-color);
    font-size: 17px;
}

.ShowCards-sideCon {
    width: 27.5%;
    height: 100%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    border-right: 1px solid var(--front-color);
}

.showCards-Content {
    width: 72.5%;
    height: 100%;
    background-color: var(--bg-gardiant-01);
    display: flex;
    flex-direction: row;
}

#showCards-WindButt {
    color: var(--front-color);
    position: absolute;
    top: 5px;
    right: 8px;
    transition: color 0.2s ease-out;
    font-size: 25px;
}

#showCards-WindButt:hover {
    transition: color 0.2s ease-out;
    cursor: pointer;
    color: var(--table-cell-hover);
}

.CardListCont {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.AllCardsList {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
}


/*********************SHOW ALL CARDS WINDOW ELEMENTS AND LIST ITEMS*********************/

.SideCon-Icons li {
    display: inline-block;
    margin-left: clamp(18px, 17%, 80px);
    color: var(--front-color);
    transition: color 0.1s ease-in;
    font-size: 12px;
}

.SideCon-Icons {
    padding-left: 20px;
}

.SideCon-Icons li:first-child {
    margin-left: 0;
}

#Check_ForEdit {
    color: var(--button-blur);
}

.SideCon-Icons li:hover {
    transition: color 0.1s ease-out;
    color: var(--button-hover-color);
    cursor: pointer;
}

#Check_ForEdit:hover {
    cursor: default;
    color: var(--button-hover-color-special);
}

.Einzel_Stapel {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    flex-flow: row;
}

.ministapel-Vorderseite {
    background-color: var(--bg-mini-div);
    border-right: var(--front-color) solid 1px;
    width: 30%;
    height: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    font-size: 15px;
}

.ministapel-Rückseite {
    background-color: var(--bg-mini-div);
    width: 30%;
    height: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    font-size: 15px;
}

.ministapel-Vorderseite h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

.ministapel-Rückseite h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

.MiniCardInput {
    font-size: 16px;
    overflow: hidden;
    border: none;
    outline: none;
}

#Cardmini-trashCan {
    transition: color 0.1s ease-in;
    color: var(--front-color);
    background-color: var(--button-hover-color);
    padding: 23px;
}

#Cardmini-trashCan:hover {
    transition: color 0.1s ease-out;
    color: var(--bg-button-color);
    cursor: pointer;
}

.NeuerStapel_UserShortInput {
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0;
}

.NeuerStapel_UserShortInput:empty:before {
    content: attr(data-placeholder);
    color: var(--bg-alpha-color-02);
}


/* **********************************SMALL-POP-UP********************************** */

.small-pop-up {
    width: 30%;
    height: 180px;
    background-image: linear-gradient(to bottom right, var(--bg-pop-up-gardiant-01), var(--bg-pop-up-gardiant-02));
    left: 0;
    right: 0;
    top: 15em;
    bottom: 0;
    margin: 0 auto auto auto;
    position: absolute;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 3000;
    color: var(--front-color);
    text-align: left;
    display: none;
    font-size: 22px;
    text-align: center;
    z-index: 22500;
}

#pop-up-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
}


/***************Settings Window - App Color - Tap****************/

#ColorText-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#ColorText-2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    cursor: pointer;
}


/*------ Style 1 ------*/

#style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#style1::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

#style1::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}


/*------ Style 2 ------*/

#style2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#style2::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

#style2::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}


/* ---------------------------Media Querris----------------------------------------- */

@media (max-width:1810px) {
    #cteNav-links li {
        padding-left: 27px;
    }
    #cteNav-links li:first-child {
        margin-left: 18em;
    }
    #wrapper {
        height: calc(100vh - 4.4851485148514851vh);
    }
}

@media (max-width:1500px) {
    #stappel-underhead {
        font-size: 15px;
    }
    #stappel-header {
        font-size: 22px;
    }
    #main-content h3 {
        font-size: 23px;
    }
    #nav_links li {
        font-size: 13px;
    }
    #sdm-open-button {
        font-size: 25px;
    }
    header h1 {
        font-size: 23px;
    }
    #play-ground {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto auto auto;
    }
    #cteNav-links li {
        padding-left: 27px;
    }
    #cteNav-links li:first-child {
        margin-left: 16.5em;
    }
    #sts-popup {
        background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
        position: absolute;
        z-index: 21200;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto auto auto;
    }
    #pg-sv {
        height: 28vh;
    }
    #pg-sr {
        height: 28vh;
    }
    #wrapper {
        height: calc(100vh - 3.7851485148514851vh);
    }
    #CreateTableElWindow {
        margin-top: 15em;
    }
    form {
        width: 35em;
    }
}