:root {
    --bg-gardiant-01: rgb(36, 40, 45);
    --bg-gardiant-02: rgb(26, 31, 37);
    --bg-header-gardiant-01: rgb(16, 21, 26);
    --bg-header-gardiant-02: rgb(25, 29, 35);
    --front-color: #ffffff;
    --button-hover-color: #4568dc;
    --pop-up-dark-background: #00000066;
    --border-color: #000000;
    --bg-table-gardiant-01: rgb(20, 27, 32);
    --bg-table-gardiant-02: rgb(24, 30, 37);
    --table-cell-hover: #6883de;
    --color-invisible: #00000000;
    --second-front-color: rgb(222, 222, 222);
    --bg-div-gardiant-01: rgb(20, 27, 32);
    --bg-div-gardiant-02: rgb(24, 30, 37);
    --second-border-color: rgb(13, 17, 21);
    --user-input-02: rgb(7, 14, 21);
    --bg-table-gardiant-03: rgb(21, 30, 38);
    --third-front-color: rgb(176, 106, 179);
    --bg-alpha-color: rgba(255, 255, 255, 0.4);
    --bg-alpha-color-02: rgba(255, 255, 255, 0.595);
    --bg-button-color: #b06ab3;
    --bg-mini-div: rgb(40, 54, 67);
    --bg-pop-up-gardiant-01: rgb(16, 23, 26);
    --button-hover-color-02: rgba(128, 128, 128, 0.1);
    --third-border-color: #0e0e10;
    --white-front-color: rgb(255, 255, 255);
    --button-blur: rgba(255, 255, 255, 0.5);
    --button-hover-color-special: rgba(255, 255, 255, 0.5);
}

.dark-mode {
    --front-color: #000000;
    --second-front-color: #000000;
    --bg-gardiant-01: rgb(202, 147, 204);
    --bg-gardiant-02: rgb(204, 168, 194);
    --bg-header-gardiant-01: rgb(255, 255, 255);
    --bg-header-gardiant-02: rgb(255, 255, 255);
    --user-input-02: #6582e189;
    --bg-pop-up-gardiant-01: rgb(231, 237, 241);
    --bg-div-gardiant-02: rgb(223, 230, 236);
    --bg-div-gardiant-01: rgb(217, 225, 236);
    --bg-table-gardiant-01: rgb(235, 240, 244);
    --bg-table-gardiant-02: rgb(231, 236, 243);
    --bg-button-color: #ffffff89;
    --border-color: #292929;
    --bg-alpha-color-02: rgba(71, 71, 71, 0.269);
    --bg-mini-div: #7f8ebd89;
    --third-front-color: #0e205a89;
    --button-hover-color: #5070d6;
    --bg-table-gardiant-03: rgb(190, 132, 192);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
}

::-webkit-scrollbar {
    width: 0;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--front-color);
    text-decoration: none;
    transition: color 0.15s ease-out;
}

a:hover {
    color: var(--button-hover-color);
    transition: color 0.18s ease-in;
}

.tableCell {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
}

.UserShortInput {
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0;
}

.vertical-line {
    height: 2px;
    width: 100%;
    border: none;
    color: var(--front-color);
    background-color: var(--front-color);
}

.horizontal-line {
    height: 100%;
    width: 2px;
    border: none;
    color: var(--front-color);
    background-color: var(--front-color);
}

#dark-webapp-con {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--pop-up-dark-background);
    display: none;
    z-index: 2900;
}


/***********************HEADER***********************/

header {
    height: 10px;
    background-image: linear-gradient(to bottom right, var(--bg-header-gardiant-01, var(--bg-header-gardiant-02)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    box-shadow: 1px 1px 10px var(--front-color);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

header h1 {
    padding-left: 270px;
    color: var(--front-color);
    font-size: 28px;
}

header a:hover {
    transition: color 0.2s ease-in-out;
    color: var(--button-hover-color);
    cursor: pointer;
}

header a {
    transition: color 0.2s ease-in-out;
    color: var(--front-color);
}

#nav_links {
    list-style: none;
}

#nav_links li {
    display: inline-block;
    padding-left: 75px;
}

#nav_links li:first-child {
    padding-left: 0px;
}


/*********************SIDE-MENU*********************/

.table-wrapper {
    overflow-y: auto;
    display: block;
    height: 90vh;
}

#side-menu {
    transition: all 0.3s ease-in-out;
    height: 100vh;
    width: 0;
    background-image: linear-gradient(to bottom right, var(--bg-header-gardiant-01), var(--bg-header-gardiant-02));
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid var(--border-color);
    font-family: 'Roboto', sans-serif;
}

#cls-menu-button {
    position: absolute;
    top: 11px;
    right: 5px;
    padding: 0px 10px 0 0;
    font-size: 22px;
    transition: all 0.2s ease-in-out;
    color: var(--front-color);
}

#cls-menu-button:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--button-hover-color);
}

#sdm-content {
    padding: 0.75rem 0.75rem 0 0.75rem;
    color: var(--front-color);
}

#sdm-plus-item {
    transition: all 0.5 ease-in-out;
    color: var(--front-color);
}

#sdm-plus-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}

#sdm-table {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    width: 100%;
    color: var(--front-color);
    border-top: 1px solid var(--front-color);
    border-bottom: 1px solid var(--front-color);
    padding-top: 2.5px;
    padding-bottom: 15px;
}

#sdm-table tr td {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding-top: 10px;
}

#sdm-table tr td:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: var(--table-cell-hover);
}

#sdm-icons {
    padding: 0 0 0 0px;
    padding-top: 15px;
}

#sdm-trash-item {
    margin-left: 10px;
}

#sdm-x-item {
    margin-left: 10px;
}

#sdm-trash-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}

#sdm-x-item:hover {
    cursor: pointer;
    transition: all 0.5 ease-in;
    color: var(--button-hover-color);
}


/*********************MAIN_CONTENT*********************/

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7.4851485148514851vh);
}

#main-content {
    height: 85vh;
    width: 85%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    display: none;
    flex-direction: column;
    border-radius: 47px;
}

#neuer-stappel {
    background-color: var(--color-invisible);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
}

#sv {
    background-image: linear-gradient(to bottom, var(--bg-div-gardiant-01), var(--bg-div-gardiant-02));
    width: 70%;
    height: 40%;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    border: 4.5px solid var(--second-border-color);
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
}

#sv h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

#sr h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

#sr {
    background-image: linear-gradient(to top, var(--bg-div-gardiant-01), var(--bg-div-gardiant-02));
    width: 70%;
    height: 40%;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    border-left: 4.5px solid var(--second-border-color);
    border-right: 4.5px solid var(--second-border-color);
    border-bottom: 4.5px solid var(--second-border-color);
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
}

#stappel-wrapper {
    background-color: var(--color-invisible);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
}

#stappel {
    background-image: linear-gradient(to bottom right, var(--bg-div-gardiant-01), var(--bg-div-gardiant-02));
    border: 4.5px solid var(--second-border-color);
    width: 70%;
    height: 90%;
    text-align: center;
    font-weight: 600;
    color: var(--second-front-color);
    border-radius: 47px;
}

#stappel:hover {
    cursor: pointer;
}

#stappel-header {
    margin: 2.25rem 0 0 0;
    padding: 0;
    font-size: 23px;
}

#stappel-underhead {
    margin: 1.2rem 0 0 0;
    padding: 0;
    font-size: 16px;
}

#main-content h3 {
    margin: 6%;
    font-size: 25px;
}

#initial-text {
    text-align: center;
    margin: -27em 0 0 0;
    display: none;
}

#Main_InI-Text {
    color: var(--front-color);
}

#Main_SecInI-Text {
    color: var(--second-front-color);
}


/*********************SETTINGS-POP-UP-MENU*********************/

#sts-popup {
    width: 80%;
    height: 800px;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    position: absolute;
    z-index: 3112;
    top: 120px;
    left: 10%;
    flex-direction: row;
    border: 1px solid var(--border-color);
    display: none;
    border-radius: 40px;
}

#side-con {
    width: 27.5%;
    height: 100%;
    border-right: 1px solid var(--front-color);
}

#sts-main-content {
    width: 72.5%;
    height: 100%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    border-radius: 40px;
}

#cls-sts-button {
    color: var(--front-color);
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 25px;
    transition: color 0.2s ease-out;
}

#cls-sts-button:hover {
    transition: color 0.2s ease-out;
    cursor: pointer;
    color: var(--button-hover-color);
}

#sts-table {
    width: 100%;
    color: var(--front-color);
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-03), var(--bg-gardiant-02));
    border-top-left-radius: 40px;
}

#sts-table tr td {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding: 10px 0 15px 0;
    border-top: 1px solid var(--front-color);
}

#sts-table tr th {
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 21px;
    padding: 0;
    padding: 10px 0 12px 0;
    border-bottom: 2px solid var(--front-color);
    letter-spacing: 4px;
    border-top-left-radius: 40px;
}

#sts-table tr td:first-child {
    text-align: center;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding: 0;
    padding: 10px 0 15px 0;
    border-top: none;
}

#sts-table tr td:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: var(--table-cell-hover);
}

#sts-line {
    margin-top: 10px;
}

#sts-content {
    margin: 0 0 0 10px;
    color: var(--front-color);
    height: 100%;
}

.sts-underText {
    margin: 0 0 0 10px;
}

#sts-content p {
    margin: 0 0 7px 10px;
}

#first-content {
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#sts-head-title {
    color: var(--front-color);
    margin: 10px 0 0 10px;
    padding: 0;
    font-size: 23px;
}

#sec-content {
    display: none;
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#third-content {
    display: none;
    width: 95%;
    height: 92%;
    overflow: scroll;
}

#fourth-content {
    display: none;
    width: 95%;
    height: 92%;
    overflow: scroll;
}


/*********************USER-CREATE-NEW-TABLE-ELEMENT-POP-UP*********************/

#CreateTableElWindow {
    width: 30%;
    height: 180px;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    position: absolute;
    top: 250px;
    left: 35%;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 3000;
    color: var(--front-color);
    text-align: left;
    display: none;
    border-radius: 20px;
}

#CreateTableElWindow h2 {
    margin: 4px 0 0 15px;
}

.UserShortInput2 {
    font-size: 1.5rem;
    letter-spacing: .15em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: var(--user-input-02);
    margin-bottom: 13px;
    margin-top: 13px;
}

#cteNav-links {
    list-style: none;
    margin: 0;
}

#cteNav-links li {
    display: inline-block;
    padding-left: 35px;
    transition: color 0.2s ease-out;
}

#cteNav-links li:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.2s ease-out;
}

#cteNav-links li:first-child {
    padding-left: 0px;
    margin: 0.25em 0 0 19.5em;
}


/*********************PLAY-GROUND*********************/

#play-ground {
    height: 85vh;
    width: 85%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    position: absolute;
    top: 70px;
    left: 7.52%;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 3000;
    color: var(--front-color);
    text-align: left;
    display: none;
    flex-direction: column;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#pg-NavItems {
    padding: 0;
    margin: 0;
    text-align: center;
}

#pg-NavItems li {
    display: inline-block;
}

#pg-NavItems li:first-child {
    float: left;
    margin: 0.6% 0 0 0.75%;
}

#pg-NavItems li:nth-child(2) {
    float: left;
    margin: 0.6% 0 0 1.15%;
}

#pg-NavItems li:last-child {
    float: right;
    margin: 0.6% 0.45% 0 0;
}

#pg-loc-header {
    font-size: 30px;
    color: var(--third-front-color);
}

#pg-vl {
    margin: 0.8% 0 0 0;
    background-color: var(--bg-alpha-color);
}

#pg-vl2 {
    margin: 1.6% 0 0 0;
    background-color: var(--bg-alpha-color);
}

#pg-vl4 {
    margin: 1.6% 0 0 0;
    background-color: var(--front-color);
}

#pg-karteikarten-div {
    margin-top: 0.65%;
}

.pg-Karteikarte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pg-Karteikarte:hover {
    cursor: pointer;
}

#pg-sv {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    border-bottom: 0.5px solid var(--border-color);
    width: 70%;
    height: 30vh;
    color: var(--front-color);
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pg-sv h3 {
    font-size: 26px;
    margin-top: 10%;
}

#pg-sr h3 {
    font-size: 26px;
    margin-top: 10%;
}

#pg-sr {
    background-image: linear-gradient(to bottom right, var(--bg-table-gardiant-01), var(--bg-table-gardiant-02));
    width: 70%;
    height: 30vh;
    text-align: center;
    color: var(--front-color);
    box-shadow: 3px 3px 15px var(--border-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pg-Subheader {
    display: flex;
    flex-direction: column;
}

.pg-sub-firsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg-sub-secondDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    font-size: 20px
}

.pg-oben-SichtbarDiv {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.pg-oben-SichtbarDiv:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-unten-SichtbarDiv {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.pg-unten-SichtbarDiv:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-wiederhohlen-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: none;
}

.pg-kannIch-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: none;
}

.pg-kannIch-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-wiederhohlen-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-nochmal-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-right: 2px solid var(--front-color);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: none;
}

.pg-spaeter-div {
    text-align: center;
    width: 35%;
    height: 50px;
    background-color: var(--bg-button-color);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: none;
}

.pg-nochmal-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

.pg-spaeter-div:hover {
    cursor: pointer;
    color: var(--border-color);
}

#pg-navClickEl-1 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-2 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-3 {
    color: var(--front-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-1:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-2:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}

#pg-navClickEl-3:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    transition: color 0.15s ease-out;
}


/*********************PLAY-GROUND-BUTTON*********************/

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, var(--button-hover-color), var(--bg-button-color));
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px var(--bg-alpha-color);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: var(--white-front-color);
    margin: 0.3% 0 0 0;
}

.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, var(--button-hover-color), var(--bg-button-color));
}

.bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--third-border-color);
}

.bn30:hover {
    background-image: linear-gradient(-45deg, var(--button-hover-color), var(--bg-button-color));
    box-shadow: 0 12px 24px var(--button-hover-color-02);
}

.bn30:hover .text {
    background-image: linear-gradient(-45deg, var(--button-hover-color), var(--bg-button-color));
}


/*********************SHOW ALL CARDS WINDOW*********************/

#allCardsWindow {
    height: 85vh;
    width: 85%;
    position: absolute;
    top: 70px;
    left: 7.52%;
    z-index: 3112;
    flex-direction: row;
    border: 1px solid var(--border-color);
    display: none;
}

#ShowCardsWindow-SideCon {
    margin: 10px 0 0 10px;
}

#SideCont_Text {
    color: var(--front-color);
    font-size: 17px;
}

.ShowCards-sideCon {
    width: 27.5%;
    height: 100%;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
    border-right: 1px solid var(--front-color);
}

.showCards-Content {
    width: 72.5%;
    height: 100%;
    background-color: var(--bg-gardiant-01);
    display: flex;
    flex-direction: row;
}

#showCards-WindButt {
    color: var(--front-color);
    position: absolute;
    top: 5px;
    right: 8px;
    transition: color 0.2s ease-out;
    font-size: 25px;
}

#showCards-WindButt:hover {
    transition: color 0.2s ease-out;
    cursor: pointer;
    color: var(--table-cell-hover);
}

.CardListCont {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.AllCardsList {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, var(--bg-gardiant-01), var(--bg-gardiant-02));
}


/*********************SHOW ALL CARDS WINDOW ELEMENTS AND LIST ITEMS*********************/

.SideCon-Icons li {
    display: inline-block;
    margin-left: 80px;
    color: var(--front-color);
    transition: color 0.1s ease-in;
    font-size: 12px;
}

.SideCon-Icons li:first-child {
    margin-left: 0;
}

#Check_ForEdit {
    color: var(--button-blur);
}

.SideCon-Icons li:hover {
    transition: color 0.1s ease-out;
    color: var(--button-hover-color);
    cursor: pointer;
}

#Check_ForEdit:hover {
    cursor: default;
    color: var(--button-hover-color-special);
}

.Einzel_Stapel {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    flex-flow: row;
}

.ministapel-Vorderseite {
    background-color: var(--bg-mini-div);
    border-right: var(--front-color) solid 1px;
    width: 30%;
    height: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    font-size: 15px;
}

.ministapel-Rückseite {
    background-color: var(--bg-mini-div);
    width: 30%;
    height: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--front-color);
    z-index: 1000;
    font-size: 15px;
}

.ministapel-Vorderseite h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

.ministapel-Rückseite h3 {
    caret-color: var(--button-hover-color);
    color: var(--front-color);
}

.MiniCardInput {
    font-size: 16px;
    overflow: hidden;
    border: none;
    outline: none;
}

#Cardmini-trashCan {
    transition: color 0.1s ease-in;
    color: var(--front-color);
    background-color: var(--button-hover-color);
    padding: 23px;
}

#Cardmini-trashCan:hover {
    transition: color 0.1s ease-out;
    color: var(--bg-button-color);
    cursor: pointer;
}

.NeuerStapel_UserShortInput {
    font-size: 2.2rem;
    letter-spacing: .20em;
    padding: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0;
}

.NeuerStapel_UserShortInput:empty:before {
    content: attr(data-placeholder);
    color: var(--bg-alpha-color-02);
}


/* **********************************SMALL-POP-UP********************************** */

.small-pop-up {
    width: 30%;
    height: 180px;
    background-image: linear-gradient(to bottom right, var(--bg-pop-up-gardiant-01), var(--bg-div-gardiant-02));
    position: absolute;
    top: 250px;
    left: 35%;
    box-shadow: 5px 5px 15px var(--border-color);
    z-index: 3000;
    color: var(--front-color);
    text-align: left;
    display: none;
    font-size: 22px;
    text-align: center;
    border-radius: 20px;
    z-index: 9000;
}

#pop-up-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
}